*{
    margin: 0;
    padding: 0;
}
/* This function is for dark mode */
#icon{
    width: 30px;
    cursor: pointer;
}
body {
    background: var(--primary-color);
}
:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}
.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
}
/* This is for the navigation bar */
.hero{
    height: 90vh;
    width: 95%;
    background: var(--primary-color); 
    font-family: sans-serif;
    position: relative;
}
nav{
    width: 85%;
    margin: auto;
    /*margin: 10px 200px;*/
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/* This is my logo*/
.logo{
    width: 200px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    /*margin: 10px 20px;*/
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
/* This changes the color of HOME button when curson is hovered above it*/
nav ul li a:hover{
    color: #ff4321;
}
/* My Contact Details header*/
h1 {
    font-family: sans-serif; 
    font-weight: normal;
    font-size: 45px;
    letter-spacing: 4px; 
    padding: 200px 0 100px;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 20px;
    /* width:19%; */ 
    height: 35%; 
    position: absolute;
    bottom: 60;
    right: 0px;
    left: 90px;
}
/* Social media icons */
.social-media{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* width:19%; */ 
    height: 30%; 
    position: absolute;
    bottom: 60;
    right: 0px;
    left: 90px;
}
a{
    display: flex;
    background: var(--primary-color);
    height: 50px;
    width: 95px;
    border-radius: 80px;
    align-items: center;
    /*justify-content: center;*/
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px - 1px rgba (255,255,255,0.7) ;
    border: 1px solid rgba(0,0,0,0) ;
    transition: transform 0.5s;
}
a i{
    font-size: 35px;
    color: #777;
    transition: transform 0.5s;
}
a:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba (255,255,255, 0.7) ,
    -0.5px -0.5px 0px rgba (255,255, 255, 1) , 
    0.5px 0.5px 0px rgba (0, 0,0, 0.15) , 
    Opx 12px 10px -10px rgba (0,0,0, 0.05) ;
    border: 1px solid rgba (0,0,0,0.01) ;
    transform: translateY (2px);
}
a:hover i{
    transform: scale(0.70);
}
a:hover .fa-whatsapp{
    color: #4fce5d;
}
a:hover .fa-telegram{
    color: #08c;
}
a:hover .fa-envelope{
    color: rgb(144, 0, 255);
}
a:hover .fa-discord{
    color: #4e5d94;
}
    
   