*{
    margin: 0;
    padding: 0;
}
#icon{
    width: 30px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}
.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
}
.hero{
    height: 90vh;
    width: 100%;
    background: var(--primary-color); 
    font-family: sans-serif;
    position: relative;
}
nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 200px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
nav ul li a:hover{
    color: #ff4321;
}
.info{
    margin-left: 8%;
    margin-top: 15%;
}
.info h1{
    font-size: 70px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
span{
    color:#ff4321;
}
.info p{
    color:  var(--secondary-color);
    line-height: 22 px;
}
.info a{
    background: var(--secondary-color);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.img-box{
    width:19%;
    height: 70%;
    position: absolute;
    bottom: 60;
    right: 100px;
}
.img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-back:hover .back-img{
    bottom: 40px;
}
.img-back:hover .main-img{
    left: 54%;
}
.social-links{
    right: 10%; 
    /*top: 100px;*/
}
.social-links a{
    font-size: 30px;
    color: var(--secondary-color);
    margin-left: 8%;
    margin-top: 10%;
    margin-right: -5%;
}
.social-links a:hover{
    color: #ff4321;
}